/* Styles for when JavaScript is disabled */
body.is-preload * {
    display: none !important;
}

body.is-preload {
    display: block !important;
    text-align: center;
    padding: 100px;
    font-family: 'Roboto', sans-serif;
}

body.is-preload:before {
    content: "JavaScript is required to use this application.";
    font-size: 1.5em;
    color: var(--text-color);
}