{% extends "layout.html" %}
{% block title %}
Easy Chat Bot
{% endblock %}
{% block headloadscript %}
    <script src="{{ url_for('static', filename='assets/js/modal.js') }}"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/zero-md@3?register"></script>
    <script type="module">
        import pdfjsDist from 'https://cdn.jsdelivr.net/npm/pdfjs-dist@4.7.76/+esm';
        pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdn.jsdelivr.net/npm/pdfjs-dist@4.7.76/build/pdf.worker.mjs';
    </script>
    <script type="module" src="{{ url_for('static', filename='assets/js/pdfrenderer.js') }}"></script>
{% endblock %}
{% block content %}
<div class="chatbot-container">
    <div class="chatbot-header">
        <h2>Chat with AI Assistant</h2>
    </div>
    <div class="chatbot-body">
        <div class="chat-messages" id="chatBubblesContainer"></div>
        <div class="chat-input">
            <textarea class="chat-textbox" id="chatTextBox" placeholder="Type your message..."></textarea>
            <button class="chat-submit button" id="chatSubmitBtn">Send</button>
        </div>
    </div>
    <div class="chatbot-footer">
        <button class="chat-clear button danger" id="chatClearBtn">Clear Chat</button>
    </div>
</div>
{% endblock %}

{% block bottomloadscript %}
<script src="{{ url_for('static', filename='assets/js/chat.js') }}"></script>
<modal-dialog id="PdfViewer">
    <div class="modal-content">
        <div class="modal-header">
            <div class="close">&times;</div>
            <h2>PDF Viewer</h2>
        </div>
        <div class="modal-body">
        </div>
    </div>
</modal-dialog>
{% endblock %}