<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block title %}Easy Chat Bot{% endblock %}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
        <noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" /></noscript>
        {% block headloadscript %}
        {% endblock %}
    </head>
    <body>
        <div class="easyChatBotMenuBar">
            <div class="logo">Easy Chat Bot</div>
            <ul>
                {% if user and user.is_authenticated and user.role in ['user', 'admin'] %}
                <li><a href="{{ url_for('home') }}">Home</a></li>
                {% endif %}
                <li class="right">
                    {% if user and user.is_authenticated %}<a class="active" href="{{ url_for('logout') }}">Logout ({{ user.username }})</a>{% else %}<a class="active" href="{{ url_for('login') }}">Login</a>{% endif %}
                </li>
            </ul>
        </div>
        
        {% block content %}
        {% endblock %}
        
        {% block bottomloadscript %}
        {% endblock %}
    </body>
</html>