{% extends "layout.html" %}
{% block title %}
Login - Pflege- & Hygienerichtlinien KSGR
{% endblock %}
{% block content %}

<div class="loginBox">
  <h2>Anmeldung</h2>
  {% if message %}
  <div class="loginErrorBox">{{ message }}</div>
  {% endif %}
  <form action="#" method="post">
    <div class="formGroup">
      <label for="username">Benutzername:</label>
      <input type="text" name="username" id="username" />
    </div>
    <div class="formGroup">
      <label for="password">Passwort:</label>
      <input type="password" name="password" id="password" />
    </div>
    <div class="formGroup">
      <button type="submit" class="button loginButton">Anmelden</button>
    </div>
  </form>
</div>

{% endblock %}